body {
  background-image: url("../images/black.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

#page-wrapper {
  width: 960px;
  margin: auto;
  background-image: url("../images/repeating.png");
}

#header {
  padding: 20px;
}

#logo1 img {
  width: 200px;
}

#header h1 {
  font-family: 'Devonshire', cursive;
  color: red;
  display: inline-block;
  margin-left: 15px;
  font-size: 36px;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

#content-wrapper {
  float: left;
}

#main-content {
  width: 715px;
  margin-right: 30px;
  float: left;
  margin-left: 15px;
  background: linear-gradient(135deg,#ff8c66,#b5c9ff);
  padding: 20px;
}

.image-r {
  float: right;
  border: 2px solid blue;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

#side-content {
  min-height: 150px;
  width: 200px;
  float: left;
  padding: 20px;
}

#center {
  width: 960px;
  text-align: center;
}

h2 strong {
  font-size: 2em;
  font-weight: 900;
}

strong {
  font-weight: 900;
  font-size: 48px;
}